/* You can add global styles to this file, and also import other style files */
body{
  width: 100vw;
  height: 100vh;
  background-image: radial-gradient(circle farthest-corner at 50vw 50vh, #53402a 0%, rgba(0, 0, 255, 0) 50%, #465b69 95%)
}

.main{
	background: rgba(207, 100, 100, 0.14);
	border-radius:1em;
	padding: 2em 1em;
	text-align:center;
	margin: 0 10vw;
	margin-top:30vh;
	color:#f0ded8;
}